<h1>My services</h1>

<% if @services && !@services.empty? %>

  <table class="table table-striped">
    <thead></thead>
    <tbody>
      <% @services.each do |service| %>
  	    <tr>
  	      <td>
  		    <%= service.title %> <br>
		    <%= service.description %><br>
		    <%= number_to_currency(service.price, unit: '€', separator: ",", 
			    delimiter: "", format: "%n %u") %><br>
		    <%= service.category.name %><br>
      	    <% if current_user && service.user == current_user %>
      	      <%= link_to "Voir plus", business_service_path(service), class: "btn" %><br>
        	  <%= link_to "Modifier", edit_business_service_path(service), class: "btn" %><br>
        	  <%= link_to "Supprimer", business_service_path(service), method: :delete, 
            	  data: {confirm: 'Are you sure you want to delete this?'}, class: "btn" %><br>
      	    <% end %>
		  </td>
  	    </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
	<p>Vous n'avez pas encore proposé de prestations</p>
	<%= link_to "Proposez une prestation", new_business_service_path, class: "btn" %><br>
<% end %>