<div class="container grid-xl">
   <div class="columns">

    <div class="column col-10 col-xl-10 col-lg-8 col-md-6 col-sm-4 col-xs-4">
      <h5>Mes favoris</h5>
    </div>

    <% if @favorites && !@favorites.empty? %>

      <table class="table table-striped">
        <thead></thead>
        <tbody>
          <% @favorites.each do |favorite| %>
      	    <tr>
      	      <td>
                <div class="container grid-xl">
                  <div class="columns">
                    <div class="column col-12">
                      <% if favorite.service.picture.present? %>
                        <%= image_tag favorite.service.picture, class: 'img-responsive' %><br>
                      <% else %>
                        <%= image_tag 'default-picture', class: 'img-responsive' %><br>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="container grid-xl">
                  <div class="columns">
                    <div class="column col-12">
                      <div class="text-bold text-uppercase">
            		        <%= favorite.service.title %>
                      </div>
                      <div class="text-break text-justify">
          		          <%= favorite.service.description %>
                      </div>
                      <div class="text-large">
          		          <%= number_to_currency(favorite.service.price, unit: '€', separator: ",", 
          			            delimiter: "", format: "%n %u") %><br>
                      </div>
                      <div class="text-italic text-lowercase">
          		          <p>#<%= favorite.service.category.name %><p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container grid-xl">
                  <div class="columns">
                    <div class="column col-12">
    		              <%= link_to "Voir plus", favorite.service, class: "btn" %><br>
                   </div>
                  </div>
                </div>   
    		      </td>
      	    </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="container grid-xl">
        <div class="columns">
          <div class="column col-6">
    	        <p>Vous n'avez pas encore de favoris</p>
          </div>
        </div>
      </div>
      <%= link_to "Chercher des prestations", root_path, class: "btn" %><br>
    <% end %>
  </div>
</div>

